.info_detalhes .info{
    color: black;
}

.info_detalhes{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem ;
    width: 100%;
    flex-wrap: wrap;
}
.info_detalhes h6{
    color: var(--primary-color);
}

.info_detalhes h6,
.info_detalhes .info{
    padding: 0.5rem 0.2rem;
    font-size: 14px;
}

.info_detalhes div{
    display: flex;
    width: 15rem;
}

@media (max-width: 800px) {
    .info_detalhes{
        display: table;
        width: 100%;
    }

}
