{% extends 'base.html.twig' %}
{% block body %}
    <div class="include_manutencao">
        <h4 class="btnDropDownForm">Situacao
            <i class="fa-solid fa-caret-down setaDropDown"></i>
        </h4>
        <div class="dropDownForm">

            <div class="content_manutencao">
                <p>Situação das tarefas</p>
                <a class="botao_adicionar"><button id="modalBtn">+ Adicionar Situação</button></a>
            </div>
            <div class="content-body">
                <table class="content-table">

                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th class="acoes">Ações</th>
                    </tr>
                    </thead>
                    {% for situacao in situacao %}
                        <tbody>
                        <tr>
                            <td>{{ situacao.descricao  }}</td>
                            <td class="acoes">
                                <a href="{{ path('editarSituacao', {id: situacao.id }) }}" title="Editar"><i class="fa-solid fa-pen edit"></i></a>
                                <a href="{{ path('deleteSituacao', {id: situacao.id }) }}" title="Excluir"><i class="fa-solid fa-trash delete"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div id="boxModal" class="modal">

        <div class="modal-content">

            <div class="modal-body">
                {{ render(url('cadastroSituacao')) }}
            </div>
        </div>
    </div>

{% endblock %}
