{% extends "base.html.twig" %}

{% block body %}

    {# TODO css separado#}
    <nav class="navbar navbar-expand-lg" style="background-color: #BC4DF0">
        <div class="container-fluid" style="background-color: #BC4DF0">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('index') }}" style="color: white">Inicio</a>
                    </li>
                    <li class="nav-item dropdown" >
                        <a class="nav-link dropdown-toggle" style="color: white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Administrador
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #BC4DF0">
                            <li><a class="dropdown-item" style="color: white" href="#">Manutenção</a></li>
                            <li><a class="dropdown-item" style="color: white" href="{{ path('funcionario') }}">Funcionário</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color: white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Projetos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #BC4DF0">
                            <li><a class="dropdown-item" href="#" style="color: white">Projeto</a></li>
                            <li><a class="dropdown-item" href="#" style="color: white">Tarefa</a></li>
                        </ul>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" href="#" style="color: white">Cliente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: white">Sprint</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}