<style>
    .indicador_valor_footer {
        background-color: #9212CE;
        width: auto !important;
    }

    .indicador_color_valor {
        color: #9212CE;
    }

    .indicar_title {
        margin-left: 15px;
    }

</style>

<div class="row" style="margin: auto;">
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col-8 indicar_title">
                        <h4 class="indicador_color_valor">$30200</h4>
                        <h6>Projetos</h6>
                    </div>
                </div>
            </div>
            <div class="card-footer indicador_valor_footer">
                <div class="row align-items-center">
                    <div class="col-9">
                        <p class="text-white m-b-0">20% Lucro</p>
                    </div>
                    <div class="col-3 text-right">
                        <i class="fa fa-line-chart text-white f-16"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col-8 indicar_title">
                        <h4 class="indicador_color_valor">2</h4>
                        <h6>Fase Final</h6>
                    </div>
                </div>
            </div>
            <div class="card-footer indicador_valor_footer" >
                <div class="row align-items-center">
                    <div class="col-9">
                        <p class="text-white m-b-0">17% Concluído</p>
                    </div>
                    <div class="col-3 text-right">
                        <i class="fa fa-line-chart text-white f-16"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col-8 indicar_title">
                        <h4 class="indicador_color_valor">5</h4>
                        <h6>Aniversariantes</h6>
                    </div>
                </div>
            </div>
            <div class="card-footer indicador_valor_footer" >
                <div class="row align-items-center">
                    <div class="col-9">
                        <p class="text-white m-b-0"> Este mes </p>
                    </div>
                    <div class="col-3 text-right">
                        <i class="fa fa-line-chart text-white f-16"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col-8 indicar_title">
                        <h4 class="indicador_color_valor">2</h4>
                        <h6>Projetos</h6>
                    </div>
                </div>
            </div>
            <div class="card-footer indicador_valor_footer">
                <div class="row align-items-center">
                    <div class="col-9" >
                        <p class="text-white m-b-0">2 Em Atraso</p>
                    </div>
                    <div class="col-3 text-right">
                        <i class="fa fa-line-chart text-white f-16"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <hr>
</div>

<div class="page-content page-container" id="page-content" style="margin-top: 15px; width: auto !important;">
    <div class="padding">
        <div class="row container d-flex">

            <div class="col-lg-8 grid-margin stretch-card">
<<<<<<< HEAD
                <div class="card">
                    <div class="card-header indicador_valor_footer" style=" width: 100% !important;">
=======
                    <div class="card-header" style="background-color: darkorange; width: 100% !important;">
>>>>>>> 8a44361c2f264852947a3af6d1b990dce213f2e7
                        <h4 class="card-title" style="color: white">Projetos Relacionados</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>ID</th>
                                    <th>Inicio</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Guilherme Correia</td>
                                    <td>1</td>
                                    <td>22 Jun 2022</td>
                                    <td><span class="badge badge-danger" style="background-color: red">Concluído</span></td>
                                </tr>
                                <tr>
                                    <td>Laleska Rodrigues</td>
                                    <td>2</td>
                                    <td>15 Jul 2022</td>
                                    <td><span class="badge badge-danger" style="background-color: darkgoldenrod">Em Andamento</span></td>
                                </tr>
                                <tr>
                                    <td>Chicão FMX</td>
                                    <td>35</td>
                                    <td>14 Ago 2022</td>
                                    <td><span class="badge badge-info" style="background-color: blue">Pausado</span></td>
                                </tr>
                                <tr>
                                    <td>Matheus R</td>
                                    <td>14</td>
                                    <td>16 Set 2022</td>
                                    <td><span class="badge badge-success" style="background-color: green">Concluído</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>