<div class="col-lg-6 ">
    <div class="card">
        <div class="card-header">
            <h5>Projetos</h5>
        </div>
        <div class="card-body">
            <div class="form-inline">
                <div class="col-lg-5 col-sm-6 py-2">
                    <div class="card bg-success text-white h-100">
                        <div class="card-body bg-success">
                            <div class="rotate">
                                <i class="fa-solid fa-paper-plane fa-4x"></i>
                            </div>
                            <h6 class="text-uppercase">Projetos</h6>
                            <h1 id="projetoCount" class="display-4"></h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-6 py-2">
                    <div class="card text-white bg-danger h-100">
                        <div class="card-body bg-danger">
                            <div class="rotate">
                                <i class="fa fa-list-check fa-4x"></i>
                            </div>
                            <h6 class="text-uppercase">Projetos em Aberto</h6>
                            <h1 id="projetoAbertoCount" class="display-4"></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6 ">
    <div class="card">
        <div class="card-header">
            <h5>Tarefas</h5>
        </div>
        <div class="card-body">
            <div class="col-lg-5 col-sm-6 py-2">
                <div class="card text-white bg-info h-100">
                    <div class="card-body bg-info">
                        <div class="rotate">
                            <i class="fa fa-list fa-4x"></i>
                        </div>
                        <h6 class="text-uppercase">Tarefas</h6>
                        <h1 id="tarefasCount" class="display-4"></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 mt-3">
    <div class="card">
        <div class="card-header">
            <h5>Clientes</h5>
        </div>
        <div class="card-body">
            <div class="col-lg-4 col-sm-6 py-2">
                <div class="card text-white bg-warning h-100" style="background-color: #ff9900!important;">
                    <div class="card-body">
                        <div class="rotate">
                            <i class="fa-solid fa-users fa-4x"></i>
                        </div>
                        <h6 class="text-uppercase">Ativos</h6>
                        <h1 id="clientesCount" class="display-4"></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="getIdSession">

<script>
    $(document).ready(function () {
        $.ajax({
            type: 'POST',
            url: '/dashboard/projetos',
            dataType: 'JSON',
            success: function (response) {
                console.log(response.response);
                $('#projetoCount').text(response.response);
            }
        });

        $.ajax({
            type: 'POST',
            url: '/dashboard/projetosAberto',
            dataType: 'JSON',
            success: function (response) {
                console.log(response.response);
                $('#projetoAbertoCount').text(response.response);
            }
        });

        $.ajax({
            type: 'POST',
            url: '/dashboard/tarefas',
            dataType: 'JSON',
            success: function (response) {
                console.log(response.response);
                $('#tarefasCount').text(response.response);
            }
        });

        $.ajax({
            type: 'POST',
            url: '/dashboard/clientes',
            dataType: 'JSON',
            success: function (response) {
                console.log(response.response);
                $('#clientesCount').text(response.response);
            }
        });

        $.ajax({
            type: 'POST',
            url: '/dashboard/session',
            dataType: 'JSON',
            success: function (response) {
                response.forEach((resp) => {
                    console.log(resp.id);
                    $('#getIdSession').val(resp.id);
                });
            }
        });
    })
</script>

