<div class="container-fluid">
    <nav class="navbar navbar-expand-lg  shadow-0 rounded" style="background-color: #fff; margin-bottom: 15px">
            <a class="navbar-brand" href="{{ path('app_dashboard') }}"><img src="{{ asset('styles/img/imgLogoCompleto.png') }}" style="size: 10rem; left: 0"></a>
    </nav>
</div>