<div class="container-fluid">
    <nav class="navbar navbar-expand-lg  shadow-0 rounded" style="background-color: #fff; margin-bottom: 15px">
        <div class="container">
            <a class="navbar-brand" href="{{ path('app_dashboard') }}"><img src="{{ asset('styles/img/imgLogoCompleto.png') }}" style="size: 10rem"></a>
            <button class="navbar-toggler ps-0" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
                    aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
            </button>
        </div>
    </nav>
</div>