{% extends 'base.html.twig' %}
{% block body %}
    {% include 'include/admin_navbar.html.twig' %}
    <section class="home">
        {% include 'include/navbar_top.html.twig' %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            <h4>Projetos</h4>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Projeto</th>
                                    <th>Situação</th>
                                </tr>
                                </thead>
                                <tbody id="tblprojetos">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Geral</h4>
                        </div>
                        <div class="card-body">
                            <canvas id="graphPieDadosAdmin" width="800" height="450"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Valor Projeto</h4>
                        </div>
                        <div class="card-body">
                            <canvas id="graphValorProjeto" width="800" height="450"></canvas>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <script src="{{ asset('styles/JS/dados.js') }}"></script>

    <script>
        $(document).ready(function () {
            //get ID
            $.ajax({
                type: 'POST',
                url: '/dashboard/session',
                dataType: 'JSON',
                success: function (response) {
                    response.forEach((resp) => {
                        console.log(resp.id);
                        $('#getIdSession').val(resp.id);
                        getProjetosByid(resp.id);
                        getChartsGeral(resp.id);
                    });
                }
            });
        });

        function getProjetosByid(id) {
            $.ajax({
                type: 'POST',
                url: 'tratamentodados/projetos',
                dataType: 'JSON',
                data: {id: id},
                success: function (response) {
                    $('.filtroProj').remove();
                    response.response.forEach((resp) => {
                        getChartValor(resp.id);
                        $("#tblprojetos").append
                        (`<tr class="filtroProj">
                            <td> ${resp.id} </td>
                            <td> ${resp.nome} </td>
                            <td> ${resp.situacao} </td>
                        </tr>`);
                    });
                }, error: function (resp) {
                    console.log(resp);
                }
            })
        }

        function getChartsGeral(id) {
            $.ajax({
                type: 'POST',
                url: 'tratamentodados/chartgeral',
                dataType: 'JSON',
                data: {id: id},
                success: function (response) {
                    console.log('GETCHART: ', response.tarefas);
                    chartProjeto(response.count, response.tarefas, response.clientes);
                }, complete: function (resp) {
                    console.log(resp);
                }
            })
        }

        function chartProjeto(count, tarefas, clientes) {
            const data = {
                labels: [
                    'Projetos', 'Tarefas', 'Clientes'
                ],
                datasets: [{
                    label: 'Teste',
                    data: [count, tarefas, clientes],
                    backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(255, 205, 86)'
                    ],
                    hoverOffset: 4
                }]
            };
            new Chart(document.getElementById('graphPieDadosAdmin'), {
                type: 'pie',
                data: data
            });
        }

        function getChartValor(id) {
            $.ajax({
                type: 'POST',
                url: 'tratamentodados/chartValorProjeto',
                dataType: 'JSON',
                data: {id: id},
                success: function (response) {
                    console.log('GETCHARTVALOR: ', response);
                    chartProjeto(response.count, response.tarefas, response.clientes);
                }, complete: function (resp) {
                    console.log(resp);
                }
            })
        }

        function chartValorProjeto(count, tarefas, clientes) {
            const data = {
                labels: [
                    'Projetos', 'Tarefas', 'Clientes'
                ],
                datasets: [{
                    label: 'Teste',
                    data: [count, tarefas, clientes],
                    backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(255, 205, 86)'
                    ],
                    hoverOffset: 4
                }]
            };
            new Chart(document.getElementById('graphValorProjeto'), {
                type: 'doughnut',
                data: data
            });
        }
    </script>
{% endblock %}


