:root {
    /* ===== Colors ===== */
    --body-color: #eaf6f4;
    --sidebar-color: #FFF;
    --primary-color: #9212CE;
    --secondary-color: #BC4DF0;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
}
.content-body{
    padding: 0 1.5rem;
}

/*=========== Header ===========*/

header .cabecalho{
    height: 2.5rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 1.5rem;
}

header .cabecalho p{
    line-height: 40px;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 18px;
    float: left;
    letter-spacing: 1px;
}

header .search-bar{
    width: 15rem;
    float: right;
    margin-top: 5px;
}

header .search-bar input{
    width: 70%;
    border-right: 0;
    background-color: transparent;
}

header .search-bar button{
    width: 30%;
    background-color: var(--secondary-color);
    float: right;
    border-left: 0;
    cursor: pointer;
    color:white;
    transition: all 0.2s;
}

header .search-bar button,
header .search-bar input{
    border: 2px solid var(--secondary-color);
    height: 2rem;
    padding: 0 10px;
}

/*tirar bordas ao selecionar*/
header .search-bar input:focus{
    box-shadow: none;
    outline: none;
}

.content_add  button:active{
    background-color: var(--primary-color);
    font-weight: 500;
}

.content_add{
    display: flex;
    float: right;


}
.content_add button {
    right: 0;
    margin: 0.8rem 1.5rem;
    padding: 8px 15px;
    border: none;
    background: var(--secondary-color);
    color: white;
    cursor: pointer;
    transition: all 0.2s;
}











/*========== Tabela =============*/

.content-table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 25px 0;
    font-size: 0.9rem;
    min-width: 300px;
}

.content-table thead tr{
    background-color: var(--secondary-color);
    color: black;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td{
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid var(--text-color);
    color: var(--text-color);
}

/*degrade de linhas*/
.content-table tbody:nth-child(odd) {
    background-color: var(--sidebar-color);
}

/*Barra colorida ao final da tabela*/
.content-table tbody:last-of-type{
    border-bottom:  2px solid var(--secondary-color);
}

.content-table tbody .acoes{
    max-width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-table tbody .acoes a{
    text-decoration: none;
    color: var(--primary-color);
}

.content-table tbody .acoes a:hover .edit{
    color: green;
}
.content-table tbody .acoes a:hover .delete{
    color: red;
}


